root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.{kt,kts}]
indent_size = 4
max_line_length = 120
continuation_indent_size = 4

# ktlint specific settings
ktlint_standard_no-wildcard-imports = disabled
ktlint_standard_package-name = disabled
ktlint_standard_function-naming = disabled
ktlint_standard_backing-property-naming = disabled

[*.xml]
indent_size = 4

[*.json]
indent_size = 2

[*.md]
trim_trailing_whitespace = false

[*.{yaml,yml}]
indent_size = 2

[gradlew.bat]
end_of_line = crlf
